* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

a,
a:active,
a:visited,
a img {
  outline: none;
  text-decoration: none;
  color: black;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
}

.main-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

footer {
  flex: 0 0 auto;
}